.AddCustomerForm{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	justify-items: center;
	align-content: center;
	overflow:auto;
	gap: 10px;
	padding-top: 10px;
}


.DateDiv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	align-items: center;
	gap: 5px;
    
}

.inputfile{
	display: flex;
	align-content: center;
	justify-content:space-evenly;
	gap: 20px;
	width: 100%;
}

h2{
	text-align: center;
}

.inputNumberDiv{
	display: flex;
	gap: 5px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}