.Login {

     text-align: center;
}

.MuiPaper-root{
     /* background-color: rgba(0, 0, 0.5, 0); */
}
.LoginPage{
     display: flex;
     justify-content: center;
     margin-top: 5%;

}

.MuiOutlinedInput-root.Mui-focused:focus {
          border-color: 'green';
        }
 
input::-ms-reveal,
input::-ms-clear {
     display: none !important;
}
