

.container {
    display: flex;
    flex-direction: column;
  }
  
  .picture {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .picture>img{
    border-radius: 15px;
    max-width: 650px;
    width: 100%;
  }
  
  .description {
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .underImage {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content:space-evenly;
    flex-grow: 999;
  }


